# root of the project
export ROOT=$(pwd)

# change to any child directory of root using fd and fzf fuzzy finder
export CD="source $(pwd)/scripts/change-child-dir.sh"

export PYTHONBREAKPOINT=IPython.embed

layout pipenv

PATH_add ./scripts
echo "shell scripts: $(ls -C scripts/)"
