# root of the project
export ROOT=$(pwd)

# change to any child directory of root using fd and fzf fuzzy finder
export CD="source $(pwd)/scripts/change-child-dir.sh"

export PYTHONBREAKPOINT=IPython.embed

PATH_add ./scripts
echo "shell scripts: $(ls -C scripts/)"

layout_poetry() {
  if [[ ! -f pyproject.toml ]]; then
    log_error 'No pyproject.toml found. Use `poetry new` or `poetry init` to create one first.'
    exit 2
  fi

  # create venv if it doesn't exist
  poetry run true

  export VIRTUAL_ENV=$(poetry env info --path)
  export POETRY_ACTIVE=1
  PATH_add "$VIRTUAL_ENV/bin"
}

layout poetry
