[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
watermark = "*"
pydot3 = "*"
matplotlib = "*"
statsmodels = "*"
seaborn = "*"
flake8 = "*"
yapf = "*"
Pillow = "*"
plotly = "*"
tornado = "==5.1.1"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupytext = "*"
jupyterlab = "*"
nbresuse = "*"
jupyterlab-code-formatter = "*"
jupyterlab-git = "*"

[requires]
python_version = "3.7"
